
.card-container{
    width:480px;
    margin:auto;
    margin-top: 80px;
    overflow:hidden;
    box-shadow:0px 0px 5px 3px grey;
    border-radius:10px;
}

.image-container img{
    overflow:hidden;
    height:240px;
    width:100%;

}
.profile-container img{
    height:75px;
    width:80px;
    border-radius:5px;
    float:left;
    margin-left:35px;
    position:relative;
    bottom:45px;
}

.card-btn button{
    float: right;
    padding:2px 15px 2px 15px;
    margin-right:30px;
    margin-top: 10px ;
    border-color: rgb(18, 50, 179);
    border-radius: 7px;
}

.card-title h3{
    text-align:left;
    padding-top:60px;
    padding-left:30px;
    color:rgba(0,0,0,0.9);
    font-weight: normal;
    font-size: x-large; 
    font-family:Arial;
    bottom:10px;
}

.card-body {
    font-family:Arial;
    padding-left:30px;
    word-spacing: 5px;
    text-align:left;
    padding-right:30px;
   
}

.card-body1 {
    color: rgb(18, 50, 179);
    font-family:Arial;
    word-spacing: 5px;
    padding-right:25px;
    font-weight:normal;

}
.card-footer span{
    font-size:14px;
    text-align:left;
    padding-right:20px;
    font-weight:medium;
    font-family: Arial;
    
    
}

.card-footer {
    margin-bottom:20px;
    margin-left:16px;
}

@media only screen and (max-width:767px){
    .card-container{
        width:100%
    }
}

